<!doctype html>
<html>
	<head>
		<title>PizzaMath</title>
		<meta charset="utf-8"/>
		<script src="https://cdn.jsdelivr.net/npm/vue@3.0.11"></script>
	</head>
	<body>
		<div id="app">
			<form>
				<label for="numberOfPizzas">Number of pizzas</label><br />
				<input id="numberOfPizzas" type="number" min="0" v-model="numberOfPizzas" /><br />
				<label for="doughWeight">Dough ball weight (g, 200=small, 300=large)</label><br />
				<input id="doughWeight" type="number" min="0" v-model="doughWeight" /><br />
				<label for="waterRatio">Water content (%, water/flour)</label><br />
				<input id="waterRatio" type="number" min="50" max="70" v-model="waterRatio" /><br />
				<label for="saltRatio">Salt content (% of flour, neapolitan=2.5-3%)</label><br />
				<input id="saltRatio" type="number" step="0.1" min="1" max="3" v-model="saltRatio" /><br />
				<label for="yeastRatio">Yeast content (% of flour, varies with T°C, timeslot and flavour expectations)</label><br />
				<input id="yeastRatio" type="number" step="0.1" min="0.1" v-model="yeastRatio" /><br />
			</form>
			<ul>
				<li>Flour : {{ parseFloat(flourMass).toFixed(1) }} g</li>
				<li>Water : {{ parseFloat(waterMass).toFixed(1) }} g</li>
				<li>Salt : {{ parseFloat(saltMass).toFixed(1) }} g</li>
				<li>Fresh yeast : {{ parseFloat(yeastMass).toFixed(1) }} g (half of that for dry yeast)</li>
			<ul>
		</div>
		<script>
			const calculate = (input) => {
				const totalMass = input.numberOfPizzas * input.doughWeight;
				const flourMass = totalMass / (1+input.waterRatio*0.01+input.saltRatio*0.01+input.yeastRatio*0.01);
				return {
					flourMass,
					saltMass: flourMass * input.saltRatio * 0.01,
					yeastMass: flourMass * input.yeastRatio * 0.01,
					waterMass: flourMass * input.waterRatio * 0.01,
				};
			};
			const TwoWayBinding = {
				data() {
					const initialValues = {
						numberOfPizzas: 8,
						doughWeight: 280,
						waterRatio: 57,
						saltRatio: 2.2, // 2.5-3 (Alex=3)
						yeastRatio: 0.2
					};
					return {
						...initialValues,
						...calculate(initialValues),
					}
				},
				created() {
					this.$watch(()=>[this.numberOfPizzas, this.doughWeight, this.waterRatio, this.saltRatio, this.yeastRatio], (newValues, prevValues) => {
						const input = {
							numberOfPizzas: parseInt(newValues[0]),
							doughWeight: parseInt(newValues[1]),
							waterRatio: parseInt(newValues[2]),
							saltRatio: parseFloat(newValues[3]),
							yeastRatio: parseFloat(newValues[4]),
						};
						const results = calculate(input);
						this.flourMass = results.flourMass;
						this.waterMass = results.waterMass;
						this.saltMass = results.saltMass;
						this.yeastMass = results.yeastMass;
					})
				}
			};
			Vue.createApp(TwoWayBinding).mount('#app');
		</script>
	</body>
</html>
